

* {
  box-sizing: border-box
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  color: #666;
  background:#141414; /*#F6F6F6; */
}

.root {
  max-width: 92rem;
  margin: 0 auto;
}

body {
  background-color:#141414 !important;
  font: 16px Arial;  
  max-width: 92rem;
  margin: 0 auto; 
}

h1 {
  text-align: center;
  padding: 1.5rem 2.5rem;
  font-weight: 600;
  /* background-image: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%); */
  background-image: linear-gradient(to right, #141414, #e50914, #141414);
  /* background-image: linear-gradient(120deg, transparent 0%, #e50914  100%); */
  font-size: 1.5rem;
  color: white;
  border-radius: 5px;
}

h6 {
  margin: unset;
  font-size: 12px;
}

hr {
  background-color: darkred;
}

.initial-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  color: white;
  height: 15rem;
  line-height: 1.5;
  text-align: center;
  background-image: linear-gradient(
120deg
, darkgray 0%, #141414 90%);
}

.btn.focus, .btn:focus {
  box-shadow: unset
}

.btn-light.focus, .btn-light:focus {
  box-shadow: unset
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color:#141414;
}

.updates {
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
  margin: 0 0 2rem 0;
}

.top-filters-btn {
  color: #fff;
  cursor: pointer;
  background-image: linear-gradient(to right, #141414, #e50914, #141414);
  border-radius: 5px; 
  padding: 0 22px;
  font-size: 20px;
  font-weight: 300;
  height: 3rem;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border-color: #000;
}

.spinner {
  display: none;
  color: #e50914;
}

.spinner-border {
  color: #e50914;
}

.divParentDetails {
  text-align: center;
  padding: 1.5rem 2.5rem;
  font-size: 1.5rem;
  color: white;
}

.divNotes {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.divMore, .divOscar, .divCountry, .divYrTyp {
  font-size: 16px;
  margin-bottom: 5px; 
  display: flex;
  justify-content: space-evenly;
}

.firstImg {
  object-fit: none;  
  display: block;
  /*max-width: 100%; 
  height: 15rem;
  /*width: 310px;*/
  border-radius: 5px 5px 0 0;
}

.imgImdb {
  width: 3rem;
  height: 1.5rem;
  border-radius: 2px;
}

.imgNotes {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 2px;
}

.imgTime {
  width: 3rem;
  height: 1.5rem;
  margin-left: -0.6rem;
  margin-right: -0.6rem;
  border-radius: 2px;
}

.imgNotesMore {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  border-radius: 2px;
}

.pNotes {
  margin: 0;
  color: #000;
}

.card {
  background-color: #F5F5F5;
  margin: 1rem;
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  border-radius: 12px;
  overflow: hidden;
  transition: all .2s linear;
  /*max-width: 310px; */
}

.card:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
}

.card:nth-child(1n)  {
  background-color: #F5F5F5 ;
}

/*
.card:nth-child(1n)  {
  background-image: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%); 
}

.card:nth-child(2n)  {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.card:nth-child(4n)   {
  background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
}

.card:nth-child(5n) .  {
  background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
}
 */

/* Border dropdown btn */
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #fff; /*#80bdff;*/
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(211,211,211);
}

.bs-example {
	font-family: sans-serif;
	position: relative;
	margin: 100px;
}

.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
	border-radius: 5px;
	font-size: 18px; /* Set input font size */
	line-height: 30px;
	outline: medium none;
	padding: 7px 12px;
	width: 22rem;
}

.typeahead {
	background-color: #fff !important;
}

/* .typeahead:focus {
	border: 2px solid #e50914;
} */

.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.tt-hint { /*sugestion superior on search*/
  color: #fff
}

.tt-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 0;
	padding: 8px 0;
	width: 22rem;
}

.tt-suggestion {
	font-size: 18px;  /* Set suggestion dropdown font size */
	padding: 3px 20px;
}

.tt-suggestion:hover {
	cursor: pointer;
	background-color: #e50914;
	color: #FFFFFF;
}

.tt-suggestion p {
	margin: 0;
}

.autocomplete-items {
  /* position: relative; */
  max-width: 17rem;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: #e50914 !important; 
  color: #e50914; 
}

/* Change lib twitter */
.dropdown-item.active, .dropdown-item:active {
  background-color: #e50914;
}

dropdown-item:focus, .dropdown-item:hover {
  background-color: #e50914;
  color: #fff;
}

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
  color: #212529;
  background-color: #fff;
}

/*the container must be positioned relative:*/
.inputAutoComp {
  margin-right: 5px;
  position: relative;
  display: inline-block;
  border-radius: 0 5px 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 22px;
  font-size: 20px;
  font-weight: 300;
  color: #3b3b3b;
  height: 3rem;
  line-height: 60px;
  background: #ffffff;
  border-width: 2px 2px 2px 0;
  border-style: solid;
  border-color: #dcdcdc; 
}

.filterMasterParent {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.first-input{ 
  display: grid;
  grid-auto-flow: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

.custom-select__trigger {
  width: 166px;
}

.button:focus, .button:hover, a.button:focus, a.button:hover {
  background-color: darkred;
  border-color:darkred;
}

.button {
  color: #fff;
  cursor: pointer;
  margin: 0 5px;
  background-color: #e50914;
  position: relative;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  padding: 0 22px;
  font-size: 20px;
  font-weight: 300;
  height: 3rem;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border-color: #000;
} 

*, *:after, *:before {
  box-sizing: border-box;
}
 
.custom-select-wrapper-top {
  display: flex;
  flex-flow: wrap;
  justify-content: center;  
}
.custom-select-top {
  position: relative;
  display: flex;
  flex-direction: column;
}
.custom-select__trigger-top {
  width: 166px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 5px 0 0 5px;
  justify-content: space-between;
  padding: 0 22px;
  font-size: 20px;
  font-weight: 300;
  color: #3b3b3b;
  height: 3rem;
  line-height: 60px;
  background: #ffffff;
  cursor: pointer;
  border-width: 2px 0 2px 2px;
  border-style: solid;
  border-color: #dcdcdc;
}
.custom-options-top {
  position: absolute;
  display: block;
  border-radius: 5px;
  top: 106%;
  /*margin-left: 3px;*/
  width: 8.8rem;
  left: 0;
  right: 0;
  border: 2px solid #dcdcdc;
  border-top: 0;
  background: #fff;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}
.custom-select-top.open .custom-options-top {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.custom-option-top {
  position: relative;
  display: block;
  padding: 0 22px 0 18.5px;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  cursor: pointer;
  transition: all 0.5s;
}
.custom-option-top:hover {
  cursor: pointer;
  color: #fff;
  background-color: #e50914;
}
.custom-option-top.selected-top {
  color: #ffffff;
  background-image: linear-gradient(120deg, transparent 0%, #e50914  100%);
}
 
.containerParent {
  margin-top: 5rem;
  /* background-image: linear-gradient(to right, #141414, dimgray, #141414); */
}

.divFooter {
  /* background-image: linear-gradient(to right, #141414, dimgray, #141414); */
  color: #fff;
  position:absolute;
  bottom: 0;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

.countResults {
  color: #fff;
  display: flex;
  justify-content: end;
}

.arrow {
  position: relative;
  height: 15px;
  width: 15px;
}
.arrow::before, .arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  transition: all 0.5s;
}
.arrow::before {
  left: -5px;
  transform: rotate(45deg);
  background-color: #3b3b3b;
}
.arrow::after {
  left: 5px;
  transform: rotate(-45deg);
  background-color: #3b3b3b;
}
.open .arrow::before {
  left: -5px;
  transform: rotate(-45deg);
}
.open .arrow::after {
  left: 5px;
  transform: rotate(45deg);
}
 
.modal {
  top: 20%;
}

.menuToggle {
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.menuToggle li {
  text-decoration: none;
  color: #fff;
  
  transition: color 0.3s ease;
}

.menuToggle li:hover {
  color: darkred;
}
 

.menuToggle > input[type=checkbox] {
  color : #fff;
}

.menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
.menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menuToggle span:first-child {
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
/* .menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #dcdcdc;
} */

/*
 * But let's hide the middle one.
 */
/* .menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
} */

/*
 * Ohyeah and the last one should go the other direction
 */
/* .menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
} */

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
 
  /* display: none; */
  position: absolute;
  width: 20rem;
  margin: -59px 0 0 -33px;
  padding: 50px;

  background: #141414;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-250%, 0); 
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

  border-style: groove;
  border-color: gray;
  border-width: 1px;
  cursor: pointer;

}

.menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
.menuToggle input:checked ~ ul {
  transform: none;
}
 

@media screen and (min-width: 1200px) {
  .container {
    max-width: 90rem;
  }
}
 
@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}

@media screen and (min-width: 1201px )  and (max-device-width: 2400px) {
  .updates {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .countResults {
    margin-left: 2.5rem;
  }
}

.dropdown-menu { 
    max-width: 151px;
}

@media screen and (min-width: 360px )  and (max-device-width: 1200px) {
 
  .menu {
    margin: -45px 0 0 -33px;
  }    

  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }


  .updates {
    max-width: 92rem;
    margin: 0 1rem 1.5rem 1rem;
  }

  .top-filters {
    max-width: 92rem;
  }

  .updateText {
    max-width: 95px;
    text-align: right;
  }

  .bootstrap-select>.dropdown-toggle {
    border-width: 1px 1px 1px 1px !important;
    border-color: #000 !important;
  }

  .custom-select__trigger-top { 
    border-radius: 5px 5px 5px 5px ;
    border-width: 2px 2px 2px 2px;
    border-color: #000;
  }

  .inputAutoComp {
    border-radius: 5px 5px 5px 5px;
    border-color: #000;
  }

 
  .custom-options-top {
    border-radius: 5px;
    border-color: #000;
    top: 100%;
    border-width: 1px;
    width: 10.35rem;
  }

  .dropdown-menu {
    min-width: unset;
    max-width: 100%;
  }

  .autocomplete {
    margin-left: 0.4rem;
  }

  .typeahead, .tt-open {
    max-width: 310px;
  }

  .custom-select__trigger-top, .custom-options-top {
    background: #333;
    color: #fff;
  }

  .arrow::before, .arrow::after {
    background-color: #fff;
  }

  .dropdown-toggle, .tt-menu, .inputAutoComp {
    background: #333;
    color: #fff;
  }

  .inputAutoComp{
    border-width: 0 0 1px 0;
  }

  .searchBtn, .filterMaster{
    justify-content: center;
    height: 3.5rem;
  }

  .typeahead {
    background: #333 !important;
  }

  .show>.btn-light.dropdown-toggle {
    color: #fff;
    background-color: #4F4F4F;
  }

  btn-light:hover {
    color: #fff;
    background-color: #4F4F4F;
  }

  .form-control {
    background-color: #4F4F4F;
  }

  .dropdown-menu { 
    background-color: #4F4F4F;
  }

  .custom-button {
    justify-content: center;
  }

  .countResults {
    margin-left: 2.3rem
  }

  button:focus, button:hover, button:focus, button:hover {
    background-color: black;
    border-color:black;
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
  }

  .tt-hint { /*sugestion superior on search*/
    color: #333
  }

  .button {
    width: 19.5rem;
    justify-content: center;
    background-image: linear-gradient(360deg, black -15%, #e50914  100%);
  }

  span {
    color: white;
  }

  h1 {
    background-image: linear-gradient(360deg, transparent 0%, #e50914  100%);
    padding: 1.5rem 3.0rem 1.5rem 3.0rem;
    border-radius: unset;
  }

  h6 {
    font-size: 10px;  
  }
}

@media screen and (max-width: 320px) {
  .updates {
    max-width: 92rem;
    margin: 0 0.5rem 1rem 0;
  }

  h6 {
    font-size: 10px;  
  }
}

@media screen and (min-width: 260px )  and (max-device-width: 767px) {
 
  .containerParent {
    margin-top: 12rem;  
  }

  .divFooter {
    position:relative;
  }
}

.modal-content {
  color: #fff;
  background-color: #141414;
}

.close {
  color: #fff;
  font-size: 20px;
  text-shadow: unset;
}

#modalLongTitle {
  font-size: 1.5rem;
}

.modal-body {
  padding: 1rem 1rem 2rem 1rem;
}

.modal-actors, .modal-directors {
  font-size: 14px;
}

.imgNotesMore {
  cursor: pointer;
}

@media screen and (width: 1366px ) {
  .inputAutoComp {
    margin-right: unset; 
  }
  .typeahead {
    padding: unset !important;
  }
  .updates{
    margin-right: 3rem;
    margin-left: 3rem;
  }
}
